{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}


{% block content %}


<div class="container">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning" >
        <button type="button" class="close" data-dismiss="alert" >&times;</button>
        {{ message }}
    </div>
    {% endfor %}
    
    <div class="page-header">
        {% if current_user.is_authenticated %}
        <h1>Hello, {{ current_user.username }}, you are login in...!</h1>
        {% else %}
        <h1>Hello, Stranger! </h1>
        {% endif %}
    </div>
</div>


{% if not current_user.is_authenticated %}
<div class="container" >
    {{ wtf.quick_form(form) }}

    {% if error %}
        <p> {{  error }} </p>
    {%  endif %}

    <p>
    New user?
             <a href="{{ url_for('auth.register') }}">
                 Click here to register
    </a> </p>

{%  endif %}

</div>






{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript" src="myscript.js" ></script>
{% endblock %}
