{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}


{% block content %}


<div class="container">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning" >
        <button type="button" class="close" data-dismiss="alert" >&times;</button>
        {{ message }}
    </div>
    {% endfor %}
    
    <div class="page-header">
        {% if name %}
        <h1>Hello, {{ name }}!</h1>
        {% else %}
        <h1>Hello, Stranger! </h1>
        {% endif %}
    </div>
</div>

<div class="container" >
    {{ wtf.quick_form(form) }}
</div>i






{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript" src="myscript.js" ></script>
{% endblock %}
